## Introduction to Python

This is a guide on how to use python that Aaron wrote. Keep in mind this is very basic and is only intended as a starting point for those who may be unintiated in the ways of python and is in no way a comprehensive manual on all aspects of python.

In [5]:
print('Hello everyone!')

Hello everyone!

In [6]:
# Python is an interpreted language meaning there are no compile-time object types
# This means Python doesn't use typing when declaring a variable
number = 354
string = "hi"

In [12]:
#Print a variable is easy it is simply:
print(string, number)

hi 354

Python uses quotes around strings, but otherwise you can print an object with print(), or by having it as the last line of a cell in notebooks

In [13]:
some_string = "this is a string"
some_string

'this is a string'

In [6]:
# Some common data types:
# strings
a='DSMl'
# ints
b=65464
# floats (doubles)
c=5660.646464
# lists (these are important)
d=["Alex", "Aaron", "Ms. Grajkowske"]
# dictionaries
e={"name": "Aaron", "grade": 12}
# boolean
f=True
# You can also do type casting, which is sometimes helpful
r=int("23") #r is an integer here(15)
t=str(15) #t is a string in this case("15")
# It is important to note that all varaibles are case sensitive meaning x is not X or a is not A

In [11]:
# You can also use the type function to get the type of a variable
print(type(r))
print(type(t))
# These types aren't strings, but a class object

<class 'int'>
<class 'str'>

In [15]:
# If you want to compare the types of two objects:
if type(r) != type(t):
    print(f"{r} and '{t}' have different types")

# And if you want to check if a variable is of a certain type
if type(r) == type(int()):
    print(f"{r} is an Integer")

23 and '15' have different types
23 is an Integer

In [16]:
# Some fun string properties and functions
u="Alexander"
# full string
print(u)
# 4th character of string
print(u[3])
# length of string
print(len(u))
# uppercase
print(u.upper())
# lowercase
print(u.lower())
# Replace one keyword with another
print(u.replace("Alexander","Aaron"))
# Check if a string is a number
print(u.isnumeric())
# Check if a string contains a substring
print("Alexander" in u)

Alexander
x
9
ALEXANDER
alexander
Aaron
False
True

In [17]:
# There are two main types of loops For loops and While loops
Aaron_list=[1,2,3,4,5,6,7,8,9]
for item in Aaron_list:
    print(item)

print("")
for i in range(len(Aaron_list)-2, 0, -1):
    print(i)

1
2
3
4
5
6
7
8
9

7
6
5
4
3
2
1

That was a for loop and this is now a demonstration of a while loop that counts down from 10 as long as there is numbers to count down from.

In [23]:
count=10
while count>0:
    print(count)
    count-=1

10
9
8
7
6
5
4
3
2
1

In [22]:
#If I want to count down by twos then I can easily do so
count=20
while count > 0:
    print(count)
    count -=2

20
18
16
14
12
10
8
6
4
2

Strings are like lists of characters. You can index and even loop through them

In [20]:
for char in u:
    print(char)
print(u[0:4])

A
l
e
x
a
n
d
e
r
Alex

In [24]:
grade = 11
if grade < 11:
    print("You're an underclassmen.")
elif grade == 11:
    print("You're an upperclassmen!")
else:
    print("Are you sure you're in high school yet/still?")

You're an upperclassmen!

In [18]:
# Defining a simple function
def greet(name):
    print(f"Hello, {name}!")

# Calling the function
greet("Alexander")

Hello, Alexander!

In [27]:
# Function that adds two numbers and returns the result
def add_numbers(a, b):
    return a + b

# Using the function
result = add_numbers(3, 5)
print(result)  # Output: 8

8

In [28]:
# Function with a default parameter value
def greet(name = "Aaron"):
    print(f"Hello, {name}!")
    
# Calling with and without passing a parameter
greet("Alexander")  # Output: Hello, Alexander!
greet()         # Output: Hello, Aaron!

Hello, Alexander!
Hello, Aaron!

In [29]:
# Function that prints a personalized message
def introduce(name, age):
    print(f"My name is {name} and I am {age} years old.")

# Calling the function with arguments
introduce("Barnabus", 215)

My name is Barnabus and I am 215 years old.